:root {
  --horizontalPadding: 72px;
}

.header-stripe {
  background: linear-gradient(300deg, #026B6F 15%, #7e1c7e 85%);

  height: 16px;

  width: 100%;
}

.title {
  font-weight: bold;

  background: linear-gradient(300deg, #026B6F 15%, #7e1c7e 85%);
  color: transparent;
  background-clip: text;

  padding: 48px var(--horizontalPadding) 24px var(--horizontalPadding);

  font-size: 64px;
  letter-spacing: -0.05em;
  line-height: 1;
}

.body-section {
  font-size: 20px;
  line-height: 1.6;

  flex: 1 1 auto;

  overflow: hidden;

  padding: 0px var(--horizontalPadding) 32px var(--horizontalPadding);
}